
*{
    margin: 0;
    padding: 0;
}

.mother-div{
    display: flex;
    margin-top: 2.5%;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
}
.first{
    width: 80vh;
    padding-left:7% ;
}
.second{
    width: 20vh;
}
.third{
    width: 20vh;
}
.fourth{
    width: 70vh;
}
.fifth{ 
    width: 15vh;
}
.sixth{
    width: 10vh;
    padding-right:2% ;
}