
*{
    margin: 0;
    padding: 0;
}
.div{
    font-family: 'Ubuntu', sans-serif;
}
.mother-div{
    display: flex;
    margin-top: 2.5%;
}
.first{
    width: 80vh;
    padding-left:7% ;
}
.second{
    width: 20vh;
}
.third{
    width: 20vh;
}
.fourth{
    width: 70vh;
}
.fifth{ 
    width: 14vh;
}
.sixth{
    width: 11vh;
    padding-right:2% ;
}
.container{
    display: flex;
    margin: 2.5%;
}

.seven{
    flex: 1;
    background-color: rgb(197, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/wrist.jfif);
    background-position: 73vh 33vh;
    background-repeat: no-repeat;
    background-size: 20vh;
}
.btn {
    width: 150px;
    padding: 2.8vh;
    margin-top: 2.8vh;
    font-size: 1rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: slateblue;
  }
.eight{
    flex: 1;
    background: linear-gradient(-45deg, #e4a693, #5e79f0, #e992cc);
}
.trial{
    font-size: 25px;
    margin-left: 30vh;
    margin-right: 30vh;
    font-weight: 1000;
    margin-bottom: 2vh;
}
.quote{
    font-size: 1.5rem;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 1.5vh;
}
.benefit{
    font-size: 1rem;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 2vh;
}
.watch{
    padding: 10vh 30vh 0vh 35vh;
}
.gadgets{
    padding: 10vh 30vh 0vh 35vh;
}
.sites{
    padding: 10vh 30vh 10vh 35vh;
}
.nine{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.two{
    margin-top: 2vh;
}
.ways{
    display: flex;
    align-items: center;
    justify-content: space-around;
}  
.info {
    margin-top: 50px;
    padding: 50px;
    background-image: url(../images/info.jfif);
    background-size: cover;
    color: white;
  }
  
  .data {
    margin-top: 50px;
    padding: 50px;
    background-image: url(../images/datas.jfif);
    background-size: cover;
    color: white;
  }
  
  .add {
    margin-top: 50px;
    padding: 50px;
    background-image: url(../images/cards.jfif);
    background-size: cover;
    color: rgb(252, 248, 248)36);
    font-size: 1.5rem;
  }
  .banking{
      flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 2.4%;
    margin-right: 2.4%;
    background-color: rgb(167, 162, 162);
}
.text{
    padding-top: 30vh;
    padding-bottom: 30vh;
}
.head{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vh;
    font-size:2rem;
    font-weight: 500;
}
.para{
    padding-left: 20vh;
    padding-right: 10vh;
}
.button {
    width: 80px;
    padding: 2.8vh;
    margin-top: 2.8vh;
    margin-left: 30vh;
    font-size: 1rem;
    border-radius: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
    transition: all 0.5s;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: slateblue;
  }

  .img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8vh;
  }
  #newletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #newletter h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  #newletter p {
    line-height: 20px;
    margin-bottom: 30px;
  }
  
  #newletter input {
    font-size: 1rem;
  }
  
  #newletter button {
    padding: 10px;
    margin-top: 20px;
    width: 150px;
    font-size: 1rem;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    transition: all 0.5s;
  }
  #newletter button:hover {
    cursor: pointer;
    background-color: slateblue;
  }
  
  #contacts {
    display: flex;
    background-color: rgb(177, 165, 119);
    margin-top: 150px;
    margin-left: 9vh;
    margin-right: 9vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .besnik-1 h2 {
    padding-top: 10px;
    /* line-height: 15px; */
  }
  
  .besnik-1 p {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  
  .besnik-2 {
    padding-top: 10px;
  }
  
  .besnik-2 ul li {
    padding-top: 20px;
    line-height: 10px;
    list-style: none;
  }
  
  .support {
    padding-top: 10px;
  }
  
  .support ul li {
    padding-top: 20px;
    line-height: 10px;
    list-style: none;
  }
  .contact h2 {
    padding-top: 10px;
  }
  
  .contact ul li {
    list-style: none;
    padding-top: 20px;
    line-height: 10px;
  }
  
  .contact p {
    line-height: 100px;
  }